:root {
    /* --sandal: #FFF67E;
    --lgtgreen: #BFEA7C;
    --midgreen: #9BCF53;
    --drkgreen: #416D19; */
    --black: #000;
    --white:#ffff;
    --red:rgb(221, 23, 23);
    --dred:#d8410f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Black Ops One", system-ui;
    
}

/*Font styling*/
.bona-nova-bold {
    font-family: "Bona Nova", serif;
    font-weight: 700;
    font-style: normal;
}


/* Header Styling */
.header {
    background-color:var(--black);
    display: flex;
    justify-content: flex-start;

}

.header .social-medias {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0 5px 8%;
}

.header .social-medias>a {
    text-decoration: none;
    margin-right: 18px;
    color:var(--white);
}

.header ul {
    display: flex;
    list-style-type: none;
    margin: 10px 0;
    padding: 0 10px 0 65%;
}

.header ul li a {
    text-decoration: none;
    font-size: 25px;
    color:var(--white);
}

span {
    font-size: 25px;
    margin: 0 5px;
    color:var(--white);
}



/* hover effects*/
.header .social-medias>a:hover {
    color: var(--red);
}

.header ul :hover {
    color: var(--red);
}

/*Logo effects*/
.logo {
    display: flex;
    margin-top: 10px;
    /* justify-content: center; */
}

.logo .logopic {
    display: flex;
    margin-left: 200px;
    margin-right: auto;
    margin-top: 30px; 
    width: 450px;
    border-radius: 30%;

}

.links {
    margin: 35px 0 0;
    padding: 12px 0;
    /* box-shadow: rgba(234, 164, 164, 0.796) 0px 4px 12px; */
    cursor: pointer;
    background-color:#C4E4FF;

}

.links ul {
    display: flex;
    list-style-type: none;
    margin-left: 18%;
    align-items: center;
}

.links a {
    text-decoration: none;
    margin-right: 100px;
    font-size: 25px;
    font-weight: 700;
    align-items: center;
    color:var(--dred);
}

.links a:hover {
    background-color: #000;
    padding: 4px 4px;
    color: #FFF67E;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;

}

.img_container {
    /* margin-top: 15px; */
    display: block;
    animation: slide 16s infinite;
}

.img_container img {
    width: 100%;
    
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    75% {
        transform: translateX(-100%);
    }

    85% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-200%);
    }

}

.middle_content {
    margin: 8% 10px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 28px;
}

.middle_content img {
    display: flex;
    width: 400px;
}

.middle_content .head {
    text-align: center;
}

.middle_content .head h1 {
    padding: 20px 0;
    box-sizing: border-box;
    color: var(--dred);
}

.middle_content p {
    margin: 0 40px;
    padding: 40px 0;
    font-size: 25px;
    text-align: left;
    color:var(--dred);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 35px;
}

button {
    padding: 10px 15px;
    margin-bottom: 25px;
    background-color:var(--black);
    color: var(--white);
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

button:hover {
    color: var(--white);
    background-color: brown;
} 

/*Footer styling*/
.footer {
    display: flex;
    font-size: 15px;
    position: relative;
    justify-content: space-around;
}

.footer h1 {
    color:var(--dred);
}

.footer .logo {
    margin: 45px 0;
}
.logo img{
    width: 320px;
    border-radius: 10;
}

/*Footer Timing*/
.footer .timing {
    margin: 20px 0;
    color: var(--black);
}

.footer .timing h3 {
    font-size: 20px;
    margin: 15px 0;
    color: #0000FF;
}

.timing p {
    font-size: 20px;
}


/*Footer address*/
.footdiv {
    display: block;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.adddiv {
    display: flex;
    align-items: center;
    color:var(--black);
}

.adddiv i {
    justify-content: center;
    align-items: center;
    margin: 15px 15px;
    font-size: 22px;
}

.footdiv p {
    margin: 10px 0;
    display: flex;
    font-size: 18px;

} 


/*Footer Follow*/
.footer .follow {
    margin: 20px 0;
}

.footer .follow i {
    margin: 30px 15px;
    color:var(--black);

}

.footer .follow i:hover {
    color: red;
}

/*Contact page styling*/
.contact {
    /* background-color: #83827e; */
    padding: 10px 10%;

}

.contact h2 {
    margin-top: 12px;
    color: var(--dred);
}

.contact p {
    margin-top: 10px;
}

/*About page styling*/
.aboutus-container .about {
    background-color: #FAF9F6;
    width: 100%;
}

.about span p {
    font-size: 20px;
    font-weight: 600;
    color: rgb(59, 58, 58);
    margin: 18px 10%;
}

.aboutus-container h1 {
    margin: 18px 10%;
} 

/* Leggin Gallery Styling*/
.gallery_container {
    background-color: aliceblue;

}

.gallery_container h1 {
    box-sizing: border-box;
    margin: 35px 15px;
    font-size: 45px;
}

.gallery_container .pic_gallery {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    padding-bottom: 80px;

}

.gallery_container .pic_gallery .lyg_pic {
    box-shadow: 1px 2px 3px lightseagreen;
    position: relative;
    height: 400px;
    border-radius: 10px;

}

.gallery_container .pic_gallery .lyg_pic img {
    height: 330px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 0 5px;
}

.gallery_container .pic_gallery .lyg_pic p {
    margin: 5px 0;
    padding: 0 15px;
} 